body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.form-title {
    font-size: 2.2rem;
    font-weight: 700;
    color: #343a40;
    text-align: center;
    margin-bottom: 20px;
}
.form-description{
    color: #6c757d;
    font-size: 1.1rem;
    line-height: 1.8;
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #343a40;
}
.required{
    color: #e74c3c;
    margin-left: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.5;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

input.error,
textarea.error {
    border-color: #e74c3c !important;
}


textarea {
    height: 180px;
    resize: vertical;
}
.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0056b3;
}
.loading-icon {
    margin-left: 10px;
    display: none;
}
.loading-icon i {
    font-size: 1.2rem;
}


.error-message {
    font-size: 14px;
    color: #e74c3c;
    margin-top: 5px;
    height: auto;
    cursor: pointer;
}
.error-summary{
    font-size: 14px;
}


.name-inputs {
    display: flex;
    gap: 15px;
    width: 100%;
    margin-bottom: 8px;
}

.name-input {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.name-input label {
    text-align: left;
    width: auto;
    margin-bottom: 5px;
}


@media (max-width: 768px) {
    .container {
        padding: 20px;
        margin: 20px auto;
    }
    .form-title {
        font-size: 1.8rem;
    }
    .form-description{
         font-size: 1rem;
    }
     input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        font-size: 1rem;
    }
    .submit-button {
         font-size: 1rem;
    }
    .error-message{
         font-size: 12px;
    }
     .error-summary{
        font-size: 12px;
    }
     .name-inputs{
        gap: 10px;
     }
}
